.content {
    padding: 40px 10vw;
}

.content > div {
    margin-bottom: 110px;
}

input[type=text],
input[type=email],
input[type=password]
{
    width: 300px;
    margin-right: 50px;
    padding: 2px 5px;
    border-radius: 9px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.noti > p {
    color: #098F00;
}

.noti-error > p {
    color: #FF0000;
}